.u-input-298jf {
  padding: 10px;
  appearance: none;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  &:focus {
    box-shadow: 0 0 4px rgba(0, 174, 255, 0.4);
  }
}
textarea.u-input-298jf {
  color: #333;
  box-sizing: border-box;
  padding: 2px;
}
span.input-wrapper-298jf,
div.input-wrapper-298jf {
  display: block;
  width: 100%;
  &.shake {
    box-shadow: 0 0 8px #e47f87;
  }
}
