@import "./declaration";
html, body {
  font-family: 'Microsoft YaHei UI', 'Avenir', Helvetica, Arial, sans-serif;
  color: $font-color;
  @include font-dpr(16px)
}
html, body {
  height: 100%;
}
#app, .main, .x-main {
  height: inherit;
}
.auto-img img {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.common-section {
  width: $max-width;
  overflow: hidden;
  margin: 0 auto;
}
.banner-img {
  width: 100%;
}
@media screen and (max-width: 1112px){
  .common-section {
    width: 90%;
  }
}
@media screen and (max-width: 768px){
  body .android {
    height: 100%;
    overflow: scroll;
  }
}