@font-face {
  font-family: 'my-font';
  src: url('./SourceHanSansCN-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

.hello {
  color: red;
  background: url(./bg.JPG);
  font-family: my-font;
}
