.index-page {
  height: 100%;
  .test {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lala {
    width: 200px;
  }
  .wrapper > div {
    margin-top: 5px;
  }
}
