.notice-8u3j9d {
  .content-area {
    padding: 20px 10px;
  }
  .section {
    padding: 10px;
    p {
      font-size: 14px;
      line-height: 1.5;
    }
    .text {
      padding-left: 0.5rem;
    }
    .text img {
      margin-top: 0.5rem;
    }
  }
}