
.normal {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.box {
  background-color: #fff;
  padding: 0 .4rem;
  box-sizing: border-box;
  border-top: 2px solid #d2d2d2;
}
.line_group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .4rem 0;
  border-bottom: 2px solid #d2d2d2;
}
.line_group a {
  width: 23%;
  display: inline-block;
  line-height: 0;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
}
.line_group img {
  width: 100%;
}
.add_avatar {
  align-self: flex-start;
}


.fade-enter {
  opacity: 0;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-appear {
  opacity: 0;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-leave {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-enter.fade-enter-active {
  animation-name: fadeIn;
  animation-play-state: running;
}

.fade-appear.fade-appear-active {
  animation-name: fadeIn;
  animation-play-state: running;
}

.fade-leave.fade-leave-active {
  animation-name: fadeOut;
  animation-play-state: running;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
