.normal {
  width: 100%;
  height: 100%;
  display: block;
  background: url("../../assets/ig-dir/log-on.jpg");
}
.reg2_box {
  width: 90%;
  position: absolute;
  left: 5%;
  bottom: 0%;
}
.group {
  width: 100%;
  font-size: 36px;
  padding: .25rem 0.05rem;
  box-sizing: border-box;
  border-bottom: 4px solid #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.group label, .group input {
  font-size: inherit;
}
.group label {
  color: #ffffff;
  flex: 0 1 22%;
  display: block;
  text-align: justify;
  text-align-last: justify;
}
.group input {
  flex: 0 1 70%;
  padding: 15px;
  border: none;
  box-sizing: border-box;
  color: #ffffff;
  background-color: transparent;
}
