@import "../../styles/declaration";
.small-common-section {
  width: $max-width - 200px;
  position: relative;
  margin: .75rem auto 1.5rem;
  display: block;
  .left-group {
    width: 100px;
    position: absolute;
    left: -100px;
    top: .75rem;
    z-index: 10;
    li {
      display: block;
      overflow: hidden;
      margin-bottom: .125rem;
      padding: .05rem 0 .05rem;
    }
    a {
      width: 70px;
      float: right;
      text-align: center;
      padding: .125rem 0;
      border: 1px solid #d2d2d2;
      border-right: none;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      color: $font-color;
      @include font-dpr(14px);
      transition: all .3s;
    }
    a.current, a:hover {
      width: 90%;
      color: #ffffff;
      background-color: $main-color2;
    }
  }
  .main-view {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 8px #d2d2d2;
    min-height: 300px;
  }
  .show-box {
    line-height: 0;
  }
  .slick-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 25%;
    background-color: transparent;
  }
  .slick-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .5s;
  }
  .slide.auto-img {
    cursor: pointer;
  }
  .slide {
    padding: .1rem;
    img {
      box-shadow: 0 0 6px #d2d2d2;
    }
    .active-thumb {
      border: 2px solid $main-color2;
    }
  }

  .slick-arrow, .slick-arrow::before {
    display: block;
    //position: absolute;
    //top: 0;
    //bottom: 0;
    width: 1rem;
    height: 1rem;
    //font-size: .1rem;
    font-size: 1rem;
    z-index: 10;
    overflow: hidden;
    //background-color: #576972;
    //border: none;
    //opacity: .8;
    //color: transparent;
    //outline: none;
    //&:hover,
    //&:visited,
    //&:active,
    //&:focus {
    //  text-decoration-line: none;
    //  outline:none;
    //}
  }
  //.slick-arrow::before {
  //  font-size: 1rem;
  //}
  /*.slick-arrow.slick-disabled {
    opacity: .5;
  }*/
  .slick-arrow.slick-prev {
    left: 0;
    //background: url("../../assets/icon/case-left-arrow.png") no-repeat center;
  }
  .slick-arrow.slick-next {
    right: 0;
    //transform: scale(-1, 1);
    //background: url("../../assets/icon/case-left-arrow.png") no-repeat center;
  }
}