@import '../../styles/decoration';
.forget-67spq {
  padding: 15px 0 0 0;
  background-color: #f6f6f6;

  /* new */
  .step1 .s1-ii {
    & > label {
      width: 128px;
    }
    & > div {
      margin-left: 5px;
    }
  }
  .step2 .s2-ii {
    & > label {
      width: 65px;
    }
    & > div {
      display: flex;
      margin-left: 5px;
    }
    .s2-input {
      display: flex;
      flex: 1;
    }
  }
  .step2 .u-code {
    color: $red;
    position: relative;
    margin-left: 10px;
    &:before {
      position: absolute;
      width: 1px;
      height: calc(100% + 20px);
      left: -5px;
      top: -10px;
      content: '';
      background-color: #ddd;
    }
  }

  /* new */

  .step-item-57spq {
    padding: 10px 15px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    position: relative;
  }
  .show-pwd {
    height: 100%;
    position: absolute;
    top: 0;
    right: 15px;
    &:active {
      background-color: #f6f6f6;
    }
  }

  .split-box-57spq {
    display: flex;
  }
  .warning {
    padding: 10px 0;
    color: $red;
  }
}
.forget-67spq .step-item-57spq:last-of-type {
  border-bottom: 1px solid #ddd;
}