
.normal {
  width: 100%;
  display: block;
  background-color: #f6f6f6;
  overflow: visible;
}
.tabs {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  box-shadow:  0 1px 4px #e0e0e0;
}
.tabs a {
  width: 50%;
  padding: .3rem 0;
  text-align: center;
  font-size: 28px;
  color: #444444;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.tabs a span {
  font-size: 24px;
}
.tabs a em {
  position: absolute;
  right: 0;
  width: 2px;
  height: 28px;
  top: .25rem;
  background-color: #e0e0e0;
}
