@font-face {
  font-family: 'iconfont';
  /* project id 631427 */
  src: url('//at.alicdn.com/t/font_631427_a6xxucyrf2u1h5mi.eot');
  src: url('//at.alicdn.com/t/font_631427_a6xxucyrf2u1h5mi.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_631427_a6xxucyrf2u1h5mi.woff') format('woff'),
    url('//at.alicdn.com/t/font_631427_a6xxucyrf2u1h5mi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_631427_a6xxucyrf2u1h5mi.svg#iconfont')
      format('svg');
}

.iconfont {
  font-family: 'iconfont';
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
