@font-face {
  font-family: 'iconfont';
  /* project id 631427 */
  src: url('//at.alicdn.com/t/font_631427_dbmfc8wdvilcv7vi.eot');
  src: url('//at.alicdn.com/t/font_631427_dbmfc8wdvilcv7vi.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_631427_dbmfc8wdvilcv7vi.woff') format('woff'),
    url('//at.alicdn.com/t/font_631427_dbmfc8wdvilcv7vi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_631427_dbmfc8wdvilcv7vi.svg#iconfont')
      format('svg');
}
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
