@import './reset.css';
@import './decoration.scss';

html,
body,
#root {
  height: 100%;
}

html {
  font-family: PingFangSC, helvetica neue, hiragino sans gb, arial,
    microsoft yahei ui, microsoft yahei, simsun, 'sans-serif';
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #333;
}

.wrapper-m028h {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.inner-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.container {
  height: 100%;
  padding: 15px;
  padding-bottom: 75px;
  overflow-y: auto;
  overflow-x: hidden;
  touch-action: none;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}
.page-loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2.section-titles {
  font-size: 1rem;
  text-align: center;
  position: relative;
  padding: 1rem;
  margin-bottom: 15px;
  &::before {
    content: '';
    width: 30px;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #d8d8d8;
    position: absolute;
  }
}

a {
  text-decoration: none;
  color: #333;
}

.color--red {
  color: $red;
}

.slide-enter {
  transform: translate(10px, 10px);
  opacity: 0;
}
.slide-enter.slide-enter-active {
  transform: translate(0, 0);
  overflow: 1px;
  transition: all .25s;
}

/* form style */
.form-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #fff;
  label {
    width: 75px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
    position: relative;
    &::after {
      content: ':';
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
    }
    i {
      font-style: normal;
    }
  }
  span {
    flex: 1;
    margin-left: 18px;
  }
}
.form-btn {
  width: 100%;
  background-color: $red;
  color: #fff;
  font-size: 1.1rem;
  display: block;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 30px;
}

/* sweetalert */
.sweet-alert button.cancel {
  background-color: #8CD4F5 !important;
}
