@import "../../styles/declaration";
.news-section {
  .news-box {
    padding-top: .5rem;
    p {
      display: block;
      width: 100%;
      padding: .15rem .1rem;
    }
    a {
      display: flex;
      justify-content: space-between;
      color: #666;
      @include font-dpr(16px);
      span:first-child {
        flex: 0 0 70%;
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}