
.normal {
  background-color: #fff;
}
.section {
  border-bottom: 1px solid #b2b2b2;
}
.title {
  padding-bottom: .1rem;
}
.title h3 {
}
.title em {
  display: block;
  margin: .1rem 0;
  font-size: 26px;
  color: #666;
  font-style: normal;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
