
.normal {
  display: inline-block;
  width: 48%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .1rem;
}
.normal img {
  width: 100%;
}
.en,
.cn {
  margin: 0.1rem 0;
  font-size: 26px;
  font-weight: 600;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.oth {
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  font-weight: 500;
  color: #666;
}
.oth em {
  font-style: normal;
  color: #e41035;
}
