
.normal {
  display: inline-block;
  width: 48%;
}
.normal img {
  width: 100%;
}
.en,
.cn {
  margin: 0.1rem 0;
  font-size: 28px;
  font-weight: 600;
  color: #000;
}
.oth {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
}
.oth em {
  font-style: normal;
  color: #ff0000;
}
