@import './reset.css';
@import './styles/decoration.scss';
html,
body,
#root {
  height: 100%;
  font-family: PingFangSC, helvetica neue, hiragino sans gb, arial,
    microsoft yahei ui, microsoft yahei, simsun, 'sans-serif';
}
a {
  text-decoration-line: none;
}
ul {
  list-style: none;
}

.container {
  height: 100%;
  position: relative;
}
.container .main-body {
  padding-bottom: 55px;
  overflow: auto;
}
.main-body.no-pb {
  padding-bottom: 0;
}
.top-banner > img {
  width: 100%;
}

.color--red {
  color: $red;
}
.small {
  font-size: 14px;
}
.text--center {
  text-align: center;
}