
html, body, #root {
  height: 100%;
}
a {
  text-decoration-line: none;
}
ul {
  list-style: none;
}

.container {
  height: 100%;
  position: relative;
}
.container .main-body {
  padding-bottom: 55px;
  overflow: auto;
}
.main-body.no-pb {
  padding-bottom: 0;
}