@import '../../styles/def.scss';

.anime-list {
  list-style: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;
  text-align: left;
}

.anime-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 48px;
  padding: 0 10px;

  &:hover {
    background: #e6f7ff;
  }

  &.chosen {
    background: #fff1f5;

    .chosen-square {
      color: #fb7299;
    }
  }

  &+.anime-item {
    border-top: 1px solid #ddd;
  }

  &>* {
    padding-right: 10px;
    box-sizing: content-box;
  }

  .date {
    width: 75px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .type {
    width: 65px;
  }

  .subtitle {
    width: 100px;
  }

  .title {
    flex: 1;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .size {
    @extend .date;
    width: 80px;
  }

  .magnet {
    width: 55px;
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    * {
      font-size: 16px;
    }
  }

  .sort-box {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
  }
}

.header {
  font-weight: bold;
  font-size: 14px;
}

.sm-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &>* {
    padding: 5px;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      color: $blue;
    }
  }
}