.e3-dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
  z-index: 999;
  box-sizing: border-box;
  .e3-dialog-content {
    width: 340px;
    position: relative;
  }

  .dialog-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & > * {
      box-sizing: border-box;
    }
    .close-bar {
      text-align: right;
      padding-right: 12px;
      display: block;
      width: 100%;
    }
    .confirm-bar {
      width: 100%;
      text-align: center;
      a {
        padding: 8px 24px;
        background: rgb(213, 0, 8);
        color: #ffffff;
        font-size: 0.8rem;
        display: inline-block;
      }
    }
    .title {
      width: 100%;
      padding: 21px 38px;
      margin-top: 26px;
      font-size: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      color: #000;
    }
    .dialog-body {
      padding: 16px 38px;
      height: 230px;
      .content {
        line-height: 1.5;
        font-size: 1rem;
        height: 100%;
        width: 100%;
        overflow: auto; // text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .content.text--center {
        text-align: center;
      }
    }
    .rule-wrapper {
      margin-top: 10px;
      text-align: center;
    }
  }
}
