@import '../styles/decoration';
.top-banner {
  width: 100%;
  position: relative;
  z-index: 1;
  .separator {
    background-color: $red;
    position: absolute;
    bottom: 0;
    width: inherit;
    height: 5px;
    z-index: 1;
    margin-bottom: 0;
  }
}

.top-banner .title {
  position: absolute;
  bottom: 10px;
  color: #ffffff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  word-spacing: 2%;
  padding: 10px 25px;
}

.top-banner .title img {
  margin: 0 10px;
}

.top-banner.md2 {
  margin-bottom: 0;
  .separator {
    background-color: #3b738f;
    height: 12px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.4);
  }
  .title {
    bottom: 15px;
    img {
      margin-left: 10px;
    }
  }
}