
.normal {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #f2f2f2;
}
/*.section {*/
  /*width: 100%;*/
  /*padding: .25rem 0 .3rem;*/
  /*background-color: #fff;*/
  /*overflow: hidden;*/
/*}*/
.small-section,
.ss {
  width: 90%;
  margin: 0 auto;
}
.font {
  composes: ss;
  width: 100%;
  color: #444;
  font-size: 36px;
  line-height: 1.5;
  font-weight: 600;
}
.info {
  composes: ss;
  display: flex;
  flex-direction: row;
}
.name {
  flex: 0 1 70%;
  display: block;
  overflow: hidden;
}
.heart {
  flex: 0 1 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content {
  composes: font;
  width: 90%;
}
.price {
  composes: font;
  color: #e41035;
  width: 90%;
}
.pro_params {
  composes: ss;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: .2rem;
  border-top: 1px solid #999;
}
.pro_params span {
  display: inline-block;
  width: 50%;
  font-size: 28px;
  color: #999;
  line-height: 1.5;
}
.pro_params span:last-child {
  width: 100%;
}
.rich {
  width: 100%;
  height: 100%;
  min-height: 400px;
}
.rich p {
  font-size: 30px;
  color: #444444;
  padding: .1rem 0;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}
.rich img {
  width: 112%;
  margin: .3rem -6%;
}
.after_service {
  width: 92%;
  margin: 0 auto;
  display: block;
}
/*.section_title {*/
  /*width: 100%;*/
  /*font-size: 34px;*/
  /*font-weight: 600;*/
  /*color: #444444;*/
  /*text-align: center;*/
  /*padding: .2rem 0 .4rem;*/
  /*margin-bottom: .2rem;*/
  /*position: relative;*/
/*}*/
/*.section_title::after {*/
  /*content: '';*/
  /*position: absolute;*/
  /*width: 60px;*/
  /*height: 6px;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin: 0 auto;*/
  /*background-color: #d2d2d2;*/
/*}*/
.after_service .box p {
  font-size: 28px;
  color: #888;
  line-height: 1.4;
  list-style-type: none;
  box-sizing: border-box;
  padding-left: .5rem;
  margin-bottom: .1rem;
  position: relative;
}
.after_service .box p::before {
  content: ' ';
  width: 12px;
  height: 12px;
  background-color: #888888;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 50%;
}
.fc {
  display: flex;
  flex-direction: row;
}
.fc a {
  width: 500px;
  padding: 0 .1rem;
}
.fc img {
  width: 100%;
}
.fc span {
  flex: auto;
}
.more {
  width: 15%;
  padding: .1rem .2rem;
  font-size: 28px;
  color: #444444;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.more span {
  width: 0;
  height: 0;
  border-top: 18px solid #444;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  margin-left: .1rem;
}

.rich h3 {
  text-align: center;
}
