.cocktail-page-slq0v {
  padding-top: 6%;
  .cocktail-content-slq0v {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cocktail-item-slq0v {
    width: 47%;
    margin-bottom: 5%;
  }
}