@import '../styles/decoration.scss';
.home-page-kuej8 {
  padding-top: 5px;
  section:not(.cocktail) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 6%;
  }
  .section-title {
    font-size: 1.2rem;
    padding: 6% 0;
    display: flex;
    justify-content: space-between;
    span {
      font-size: 0.7rem;
      font-weight: normal;
      color: #666;
    }
  }
  .more {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $red;
    font-size: .9rem;
    font-weight: normal;
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
  .selling-pro {
    width: 47%;
  }
  .cocktail-item {
    width: 30%;
  }
}
