.pro-index-82nlf {
  display: flex;
  flex-direction: column;
  padding: 0;
  .header-82nlf {
    z-index: 2;
  }
  .content-82nlf {
    flex: 1;
    overflow: auto;
    padding-bottom: 55px;
  }
  .wrapper-82nlf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    & > div {
      width: 48%;
      box-sizing: border-box;
      margin-bottom: 15px;
    }
  }
}