.pro-list-xlw29 {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: #f6f6f6;
  .header-xlw29 {
    z-index: 2;
  }
  .content-xlw29 {
    flex: 1;
    overflow: auto;
    padding-bottom: 55px;
  }
  .list-cell-xlw29 {
    margin-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    transform: translate(15px, 15px);
    opacity: 0;
  }
}