.cocktail-grid-uej28 {
  img {
    width: 100%;
    margin-bottom: 0.2rem;
  }
  p {
    font-size: .7rem;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p.more-uej28 {
    color: #989898;
    margin-top: 3px;
  }
}