.cocktail-grid-uej28 {
  img {
    width: 100%;
    margin-bottom: 0.2rem;
  }
  p {
    font-size: .7rem;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}