.pay-sheet-w0jk3 {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.sheet-wrapper-w0jk3 {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
}
.content-w0jk3 {
  & > * {
    line-height: 1.5;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    font-size: 0.85rem;
  }
  & > *:nth-last-child(2) {
    border-bottom: none;
  }
  .title {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .form-btn {
    padding: 8px;
    margin-top: 0;
  }
  .pay {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
  }
  p.pay {
    padding: 12px 15px;
  }
  .code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      appearance: none;
      border: 1px solid #888;
      padding: 5px;
      box-sizing: border-box;
      width: 50%;
      font-size: 0.9rem;
    }
    span:last-child {
      color: transparent;
    }
  }
}
.pay-methods-w0jk3 {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  p {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    z-index: 1;
  }
  img {
    margin-left: -20px;
  }
}
